# Logs
logs/
*.log

# Data files
data/
*.csv
*.parquet

extracts/
output/

# Python
__pycache__/
*.pyc
src/common/
file_name.py

# Environment
.env
venv/

# Spark
spark-warehouse/

# OS files
.DS_Store
Thumbs.db
